/* termos e politica aqui, depois eu dou atenção nisso */

main{
    display: flex;
    gap: 20px;
}
section{
    flex: 1;
    padding: 20px;
}
section#markdown-content {
  background: white;
  color: #292520;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}